@use '../util' as u;



/*Mobile */
  
 // Use flex to postion de element .
//Display flex para organizar los elemento.
.nav{
    display:flex;
    flex-direction:column;  //We organize them in column order.
                           //Direccionde de ubicacion en columnas.
    
     //Use flex to positio the 3 child elements.
    //Display flex para organizar los 3 elementos hijos.
    &__up{
        display:flex;
        justify-content: space-between;  //Place at the ends of the container.  
                                        //Ubicamos en los extremos del contenedor.
        align-items: center;         
        height:35px;
        padding:auto 0;
        font-size: 8px;
        color:rgba(0,166,88,255);
        align-content: center;

         //Declaring styles and position.
        //Estios y posicionamiento.
        h1{
            margin:2px  0 0 10px; 
        }

        p{
            color: rgb(0, 0, 0);
            font-size: 12px;

            i{
                margin: 2px;
                margin: 14px 45px  0 0;
            }
          
           
        }
        
    }


     //Use flex to positio the child element.
    //Display flex para organizar el elemnto.
    &__down{
        background-color: rgba(74,98,114,255);     
        height:40px;
        color:rgba(125,191,218,255);
        font-size: 8px;
        display:flex;
        
         //Vertical and horizontal placement.
         //Ubicacion de elementos en horizontal y verical.
         justify-content: center;
         align-items: center;

        h2{
            font-weight: 400;
        }
       
    }
}

 //Sizing and giving ownership to the section. sort with flex.
//Dimension y aliniamento con flex.
 .card{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:600px;
        width: 100%;

         //Dimensions and alignment with flex for the main content of the section.
        //Dimensionamiento y alineacion del contenido pincipal de la seccion, con flex.
        .photo{
            height: 30%;
            width: 80%;
            max-width: 500px;
            margin: 5px auto;
            position: relative;
        }

        
        &__left{
        
            background: url(../../src/img/main-offer.jpg) no-repeat center center; 
            background-size: cover; 

             //Placing the element in the card
            //Ubicndo elemento en la carta 
            display:flex;
            justify-content:center;
            align-items: center;
            border-radius:10px;

             //Styling floating card (margin and opacity backgroun)
            //Dando estilos a carta flotante (margenes y opacidad)
            &-container{
                width: 80%;
                height: 80%;
                background-color: rgba(0, 0, 0, 0.63);
                padding: 30px 0 0 0;
            }

              //Declaring styles.
             // Dando estilos 
            &-h2{
                    color: var(--clear-color);
                    text-align: center;
                    font-weight: 100;
                    
                }

              //Declaring styles.
             // Dando estilos 
            &-p{
                    color: var(--clear-color);
                    text-align: center;
                    font-weight: 200;

                }

              //Declaring styles, position and size.
             // Dando estilos, posicionamiento y tamaño 
            &-btn{
                    width:50%;
                    height:20px;
                    margin: 0 auto;
                    background-color:var(--btn-color);
                    color:var(--clear-color);
                    border: none;
                    text-transform: uppercase;
                    display:flex;
                    align-items: center;
                    justify-content: space-around;
                    
                    
                    
                }

            
            
        
            
        }

         //Using the same clase to define estyle in Middle and right parent Blocs
        //Compartiendo estilos con los elemendo de clases middle y right de la seccion cards
        .plus{
         
            h2{
                text-transform: uppercase;
                font-weight:400;
                text-align: center;
                color: #fff;
            }

            p{
                color: rgb(230, 230, 230);
                text-align: center;
            }

            i{
                display: flex;
                background-color:#fff;
                width:30px;
                height:30px;
                color: var(--btn-color);
                margin: 0 auto;
                align-items: center;
                justify-content: space-around;
            }

             //change visibility for mobile view
            //cambianod la vista resolucion movil 
            img{
                display:none;
            }
            
              //background gradiente for cards designe
             //diseño de fondo en gradiente 
            div{
                background-image: linear-gradient(
                    to right  bottom,
                    #00a659d5,
                    hsla(0, 1%, 27%, 0.459) ),
                    url('../../src/img/offers1.jpg');
                    background-size: fill;
                    background-position: center center;
                    border-radius:10px;
                    width:100%;
                    height:100%;
                    padding: 7px;
                    font-size: 15px;
                
            }
            
         
        }
        
        
      
    }

    


//Dimensions to the main block of the section.
// dimensioando y ubicando el bloque principal
.banner{
    
    width: 80%;
    height:320px; 
    margin: 40px auto 0;
    
 //Styles and behavior to the image section.
//Comportamiento y estilos de la seccion de imagen.
    &__landscape{
        overflow:hidden;  //hide or cut content that exceeds its dimensions - corta el contenido desbordado
        position: relative;
        display: none;
       
        img{
            object-fit: cover;
        } 
    }
 //Styles and behavior to the infoormation section.
//Comportamiento y estilos de la seccion de imagen.
    
    &__information{
       
        background: linear-gradient(153deg, rgba(204,216,230,1) 0%, rgba(223,214,199,1) 100%);;
        border-radius:20px;
        background-repeat: no-repeat;
        padding:10px;

        .banner__paragraph{
            text-align: center;
            
           

            &-h2{
                color: var(--btn-color);
                font-weight: 400;
                text-transform: uppercase;
                font-size: 18px;
            }

            &-p{
                font-size: 12.8px;
            }

          

        }

        .banner__price{ 

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
  
                            
            &-h3{
                font-size: 15px;
              
                               
            } 

            &-h4{
                font-size: 25px;
                font-weight: 400;

            }

            &-btn{
                background-color: var(--btn-color);
                color: #fff;
                width:200px;
                height:45px;
                border: none;
                text-align: center;
             
                
               
          

            }
            
        
        }

        

        
    }

}











    
        
.slider{
            
            height:300px;
            display:flex;
            align-items: center;
    
            &__container{
                height:60%;
                background-image: url(../../src/img/main-offer.jpg) ;
                background-repeat:no-repeat;
                background-size: cover;
                background-position: left;
                width:100%;
                display:flex;
                align-items: center;
                justify-items: center;
            }
    
    
            &__over{
                width:95%;
                height:80%;
                background-color:#fff;
                margin: 120px auto 0;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                 border-radius: 20px;
            }
            
        }

    
.footer{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-image: linear-gradient(
    to right  bottom,
    #5a5a5aec,
    #4e4e4eea ),
    url('../../src/img/footer-bg.jpg');
    background-size: cover;
    
    ul{
        display: flex;
        margin-left: -30px;
        font-size: 12px;

        li{
            list-style: none;
            margin: 0 6px 0;
            color:var(--btn-color);
            
            a{
                color:var(--btn-color);  
                &:hover{
                    color: #fff;
                }              
            }
        }

    }
}




@media only screen and (min-width: 700px) {

    .banner{
            height:220px; 
            margin-top: 40px;
            width: 90%;
            margin: 50px auto 0;
            height: 100%;
            display: flex;
            background-color: #fff;
            
                  

           

            &__landscape{
                display:inline;
                width:100%; 
        
                &-img{
                    width: 135%;
                    height:240px;        
                    clip-path: polygon(75% 0%, 68% 54%, 75% 100%, 0% 100%, 0 52%, 0% 0%);
                }
            }
            
            &__information{
                
                    display: grid;
                    grid-template-columns: 5fr 1fr;
                    grid-template-rows: 1fr;  
                    position: relative;    
                    background-color: rgba(255, 255, 255, 0.863); 
                    background: none;
                             
                 
                .banner__paragraph{
                    text-align: initial;
                    margin:10px 0 0 20px;
                   
        
                    &-h2{
                        color: var(--btn-color);
                        margin-left: 10px;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 10px 0 15px 0px ;
                        font-size: 18px;
                    }

                    &-p{
                        
                        font-size: 11.8px;
                    }

                    &-h4{
                        margin-top: 75px;
                    }

                }

                .banner__price{ 

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   
          
                                    
                    &-h3{
                        font-size: 15px;
                        position: relative;
                        top:48px;
                                       
                    } 

                    &-h4{
                        font-size: 25px;
                        font-weight: 400;

                    }

                    &-btn{
                        background-color: var(--btn-color);
                        color: #fff;
                        width:200px;
                        height:45px;
                        border: none;
                        text-align: center;
                        margin:40px 5px 0 0 
                        
                       
                  

                    }
                    
                
                }
            }

        

        
    
        }

   
 
          
    .footer{
        align-items: center;
        height: 300px;

        .fotter__up{
            margin-bottom: -30px;

            li{
                margin: 0 15px 0;
            }
        }
        
        
        &__down{
            
            margin-top: 15px;
            
            ul{
                font-size: 25px;

            }
        }
    

        ul{
            font-size:20px;    
        }
      


    }
}

@media only screen and (min-width: 1200px) {

    main{
        max-width: 1170px;;
        margin: 20px 80px 0;
     
         .card{
                display: grid; 
                grid-template-columns: 1fr 1fr 1fr; 
                gap: 0 10px ;
                height:496px;
                min-width: 150px;
               
                &__left{
                    min-width: 350px;
                    max-width: 200px;
                        button{
                            width:80%;
                            height:50px;
                            margin: 165px auto 0;                                                
                        }

                        p{
                            padding: 0 auto;
                        }

                      
                        h2{
                            font-size: 24px;
                            text-transform: uppercase;
                            font-weight:300
                        }
                       
                }

                .plus{          
                    min-width: 250px;
                    max-width: 200px;
                    text-align: center;
                    background-color: #fff;
                   
                    img{
                        display: inline;
                        width:100%;
                        height:200px;
                        object-fit: cover;
                    }

                    h2{
                         margin-top: 20px;
                         color: #333;
                    }

                    p{
                        color: rgb(214, 214, 214);
                    }

                    i{
                        margin: 50px auto 0;
                        color:#fff;
                        background-color: var(--btn-color);
                    }
                    div{
                        background-image: none;
                    }
                }



                .photo{
                    height: 90%;
                    width: 100%;
                    max-width: 400px;
                }  
            }
        

          .banner{
            height:220px; 
            width: 100%;

            }
    }

        
      

        .slider{          
            height:300px;
            display:flex;
            align-items: center;
    
            &__container{
                height:80%;
            }

            &__over{
                width:50%;
                height:80%;
                margin: 100px 0 0 505px;
                border-radius:0;
                background-color: rgba(255, 255, 255, 0.911);
            }
        }
       
    

    }  







@media only screen and (min-width: 1300px){
    main{
        margin: 0 auto;
    }

}