
//variables with the main colors of the project
//variables definidas con los colores principales del projecto
:root{
    --header-color:rgba(74,98,114,255);
    --header-s-text:rgba(125,191,218,255);
    --btn-color:rgba(0,166,88,255);
    --clear-color:#ffffff;
    --medium-color:rgb(138, 138, 138);
    --dark-color:rgb(0, 0, 0);
}